<h2>Uh Oh!</h2>
<h3>There appears to be a problem with your account</h3>
<p>Your error code is <strong><%= @error %></strong></p>
<p>Let us know and we will get it fixed right away! Let us know at any of the following outlets:</p>
<ul>
	<li>Tweet us at the <a href="https://twitter.com/NovaDraft">NovaDraft Twitter</a></li>
	<li>Email us at INSERT SUPPORT EMAIL HERE</li>
	<li>Call us at INSERT PHONE HERE</li>
</ul>