<div class="landing-main">
	<div class="page-content">

		<div class="button-container">
			<div class="login-button-container">
				<a class="trans-button" href="<%= new_user_session_path %>">LOGIN</a>
			</div>
			<div class="signup-button-container">
				<a class="trans-button" href="<%= new_user_registration_path %>">SIGN UP</a>
			</div>
		</div>
	</div>
</div>

