/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require normalize-rails
 *= require_tree .
 *= require_self
 */

 @font-face {
  font-family: Work-Sans-Regular;
  src: url(/siteassets/Roboto/Roboto-Medium.ttf);
}
@font-face {
  font-family: Work-Sans-Bold;
  src: url(/siteassets/Roboto/Roboto-Bold.ttf);
}
 *,
 *:before,
 *:after {
  box-sizing: border-box;
 }

 *{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: Work-Sans-Regular
 }



.page-content {
  z-index:0;
  background-position:fixed;
  max-width: 1500px;
  width: 100%;
  min-height: 610px;
  height: 100%;
  
  margin: 0 auto;

  overflow: hidden;
  text-align: center;

}

.top {
  z-index: 10;
  position: fixed;
  margin: 0;
  left:0; right:0; top:0;
  min-height: 100px;
  height: 15%;
  background-color: white;
  border-bottom: 1px solid grey;
}
.left {
  z-index: 9;
  position:absolute;
  max-width: 250px;
  width: 18%;
  min-height: 800px;
  height: 100%;
  border-right: 1px solid grey;

  left:0; top:16%; bottom: 0;
  background-color: white;
  float: left;

}
.main {
  position: absolute;
  min-height: 600px;
  max-width: 1200px;
  width: 82%;
  height: 80%;
  left:18%; top:15%; right:0; bottom:0;
  float: right;
}

.nav-bar{
  margin: 0;
  left:18%; right:0; top:0;
  min-height: 100px;
  height: 100%;
  width: 82.1%;
  float: right;
  list-style-type: none;
  overflow: hidden;
  vertical-align: middle;
}

.nav-bar > li {
  position: relative;
  float: left;
  vertical-align: middle;
  height: 100%;
  max-width: 145.5px;
  width: 14%;
}

.nav-button {
  position: inherit;
  max-width: 145.5px;
  line-height: 100px;
  height: 100%;
  color: black;
  text-align: center;
  text-decoration: none;
  vertical-align : middle;
}
.nav-button > a {
  height: 100%;
  width: 100%;
  display: inline-block;
  color: #F2385A;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.nav-button:hover {
  background-color: #F2385A;
  width: 101%;
  border-right: 1px solid white;
}

.nav-button > a:hover {
  background-color: transparent;
  color: white;
}
.outline {
  height: 60%;
  width: 100%;
  display: inline-block;
  overflow: visible;
  position: absolute;
  z-index: -1;
  line-height: 100px;
  top: 20px;
  border-left: 1px solid #F2385A;
}

.outline:hover {
  border-left: none;
}

.top > .nav-bar > li[name="deposit"] {
  float: right;
}

.top > .nav-bar > li[name="deposit"] > span {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 25px 25px;
  text-decoration: none;
}

.green-button, .green-button:visited {
  font-family: Work-Sans-Regular;
  font-size: 15px;
  cursor: pointer;
  height: 60px;
  width: 85%;
/*  padding: 15px 80px;
*/  display: block;
  margin: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 15px;
  border: 2px solid transparent;
  color: #fff;
  background: #f2385a;
  text-decoration: none;
  text-align: center;
  line-height: 57px;


  overflow: hidden;
}

.green-button:active {
  border-color: #f2385a;
  color: #f2385a;
}

.green-button:hover {
    background: transparent;
    border: 2px solid #f2385a;
    color: #f2385a


}

.trans-button, .trans-button:visited {

  font-family: myFirstFont;
  background: transparent;
  display: inline-block;
  width: 200px;
  padding: 8px;
  color: #fff;
  border: 2px solid #fff;
  text-align: center;
  text-decoration: none;
  outline: none;
  letter-spacing: 3px;
  font-size: 15px;

  -webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
   -moz-transition: all 0.3s ease-out;  /* FF4+ */
    -ms-transition: all 0.3s ease-out;  /* IE10 */
     -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
        transition: all 0.3s ease-out;
  }
.trans-button:hover,
.trans-button:active {
  background-color: #fff;
  color: #000;
}