/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require normalize-rails
 *= require_tree .
 *= require_self
 */
 *,
 *:before,
 *:after {
  box-sizing: border-box;
 }

@font-face {
  font-family: Work-Sans-Regular;
  src: url(/siteassets/Roboto/Roboto-Medium.ttf);
}
@font-face {
  font-family: Work-Sans-Bold;
  src: url(/siteassets/Roboto/Roboto-Bold.ttf);
}


.top {
  position:absolute;
  left:0; right:0; top:0;
  height: 92px;
  background-color: #273034;
}
.left {
  position:absolute;
  left:0; top:92px; bottom: 0;
  width: 178px;
  background-color: #273034;

}
.main {
  position: absolute;
  left:178px; top:92px; right:0; bottom:0;
}

.nav-bar{
  list-style-type: none;
  overflow: hidden;
}

.nav-bar > li {
  float: left;
}

.nav-bar > li > a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.top > .nav-bar > li > a:hover {
  background-color: #E95144;
}

.top > .nav-bar > li[name="deposit"] {
  float: right;
}

.top > .nav-bar > li[name="deposit"] > span {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 25px 25px;
  text-decoration: none;
}

.green-button, .green-button:visited {
  border: none;
  font-family: Work-Sans-Regular;
  font-size: 15px;
  cursor: pointer;
  height: 60px;
  width: 240px;
/*  padding: 15px 80px;
*/  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 15px;
  border: 2px solid transparent;
  color: #fff;
  background: #24b662;
  text-decoration: none;
  text-align: center;
  line-height: 57px;


  overflow: hidden;
}

.green-button:active {
  border-color: #fff;
  color: #fff;
}

.green-button:hover {
    background: transparent;
    border: 2px solid #fff;


}

.trans-button, .trans-button:visited {

  font-family: myFirstFont;
  background: transparent;
  display: inline-block;
  width: 200px;
  padding: 8px;
  color: #fff;
  border: 2px solid #fff;
  text-align: center;
  text-decoration: none;
  outline: none;
  letter-spacing: 3px;
  font-size: 15px;

  -webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
   -moz-transition: all 0.3s ease-out;  /* FF4+ */
    -ms-transition: all 0.3s ease-out;  /* IE10 */
     -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
        transition: all 0.3s ease-out;
  }
.trans-button:hover,
.trans-button:active {
  background-color: #fff;
  color: #000;
}