// Place all the styles related to the contests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.lineup_display_position{
display: inline;
  margin: 0 1em 0 1em;
  width: 30%;
}

table {
  width: 100%;
}

input {
  outline: 1px solid black;
}

.contest-details:hover {
  background-color: #f5f5f5;
}

.contest-details {
  border-bottom:1pt solid black;
  
}

.contest-details > td {
  vertical-align: middle;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  line-height: 50px;
}

.contest-entries > td {
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}


.contest-entries:hover{
  background:red;
}