// Place all the styles related to the lineups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.player_salary{
display: inline;
  margin: 0 1em 0 1em;
  width: 30%;
}

.player-select-container {
  max-width: 60%;
  height: 400px;

  background-color: #273034;
  overflow: auto;
}

.position-select{
  width: 36%;
  list-style-type: none;
  margin: 0;
  padding: 0;

  overflow: hidden;
  background-color: #273034
}

.position-select > li {
  padding-top: 5px;
  padding-bottom: 5px;
  float: left;
}

.position-select > li > a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.position-select > li > a:hover,
.position-select > li:hover {
  background-color: #E95144;
}

.player-select {
  width: 100%;
  height: 0%;
}

.player-select > tbody > tr { 
  background-color: #273034; 
  width: 100%;
  height: 45px;
}
.player-select > tbody > tr > td {
  height: 45px;
  margin-right: 0;
}

.player-select > tbody > tr > td > .player-info { 
  color: #E95144;
  height: 45px;
  display: block; 
  border: 1px solid black;
  padding: 16px; 
  padding-left: 5px;
}

.player-select > tbody > tr > td > .player-info > .player-position{ 
  color: #AFBFC6;
  margin-left: 0;
  padding-right: 10px; 

}

.position-select > li > button {
  background:none;
  border:none;
  font-size:1em;
  color:blue;
  padding-top: 5px;
  padding-bottom: 5px;
  float: left;
  display: inline-block;
  color: #AFBFC6;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  outline:none;
}

.position-select > li > button:hover {
  cursor: pointer; 
  cursor: hand;
}

