// Place all the styles related to the lineups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.player_salary{
display: inline;
  margin: 0 1em 0 1em;
  width: 30%;
}

.position-select > li > button {
  background:none;
  border:none;
  font-size:1em;
  color:blue;
  float: left;
  display: inline-block;
  color: #AFBFC6;
  background-color: #273034;

  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  outline: #AFBFC6 solid thin;
}

.position-select > li > button:hover {
  cursor: pointer; 
  cursor: hand;
  background-color: #E95144;

}

.position-select{
  width: 55%;
  list-style-type: none;
  margin: 0;
  padding: 0;
/*  padding-top: 5px;
  padding-bottom: 5px;*/
  overflow: hidden;
}

.position-select > li {
/*  padding-top: 5px;
  padding-bottom: 5px;*/
  float: left;

}

.position-select > li > a {
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
  background-color: #273034

}
.search-container {
  float: left;
  display: inline-block;
  text-align: center;
  height: 44px;
}

#search {
  width: 145px;
  position: relative;
  bottom:-22px;
  padding-right: 10px;
  font-size:1em;
  overflow: hidden;
  display: table-cell;
  float: left;
  text-decoration: none;
  outline: #AFBFC6 solid thin;
}

.position-select > li > a:hover {
  background-color: #E95144;
}

.new-player-selection-container {
  float: left;
  background-color: #273034;
  width: 55%;
  height: 450px;
  overflow: auto;
}

.player-select-container {
  max-width: 100%;
  height: 450px;
  overflow: hidden;
}

.player-select {
  float: left;
  width: 100%;
  height: 0%;
}

.player-select > tbody > tr { 
  background-color: #273034; 
  width: 100%;
  height: 45px;
}
.player-select > tbody > tr > td {
  height: 45px;
  margin-right: 0;
}

.player-select > tbody > tr > td > .player-info { 
  color: #E95144;
  height: 45px;
  display: block; 
  border: 1px solid black;
  padding: 16px; 
  padding-left: 5px;
}

.player-select > tbody > tr > td > .player-info > .player-position{ 
  color: #AFBFC6;
  margin-left: 0;
  padding-right: 10px; 

}

.player-select > tbody > tr > td > .player-info > .add-player-button { 
  background:none;
  border:none;
  font-size:1em;
  color:blue;
  padding-top: 5px;
  padding-bottom: 5px;
  float: right;
  display: inline-block;
  color: #AFBFC6;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  outline:none;
  height: 20px;
  width: 20px;
}

.player-select > tbody > tr > td > .player-info > .add-player-button, .remove-player-button{
  cursor: pointer; 
  cursor: hand;
} 

.player-select > tbody > tr > td > .player-info > .add-player-button:hover:disabled{

} 

.current-lineup-container {
  float: right;
  max-width: 40%;
  width: 40%;
  height: 450px;
  overflow: auto;

}

.current-lineup {
  float: right;
  width: 100%;
}

.current-lineup > tbody > tr { 
  background-color: #273034; 
  width: 100%;
  height: 45px;
}
.current-lineup > tbody > tr > td {
  height: 45px;
  margin-right: 0;
}

.current-lineup > tbody > tr > td > .current-lineup-player-info { 
  color: #E95144;
  height: 45px;
  display: block; 
  border: 1px solid black;
  padding: 16px; 
  padding-left: 5px;
}

.current-lineup > tbody > tr > td > .current-lineup-player-info > .current-lineup-player-position{ 
  color: #AFBFC6;
  margin-left: 0;
  padding-right: 10px; 

}

.current-lineup > tbody > tr > td > .current-lineup-player-info > .remove-player-button { 
  background:none;
  border:none;
  font-size:1em;
  color:blue;
  padding-top: 5px;
  padding-bottom: 5px;
  float: right;
  display: inline-block;
  color: #AFBFC6;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  outline:none;
  height: 20px;
  width: 20px;
}

