// Place all the styles related to the lineups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.player_salary{
display: inline;
  margin: 0 1em 0 1em;
  width: 30%;
}

.player-select-container {
  width: 36%;
  height: 100px;
  background-color: #E95144;
  overflow: auto;
}

.position-select{
  width: 36%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  overflow: hidden;
  background-color: #273034
}

.position-select > li {
  float: left;
}

.position-select > li > a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.position-select > li > a:hover {
  background-color: #E95144;
}

.player-select {

  width: 36%;
  height: 80%;
}

.player-select > tr { 
   background-color: blue; 
}
.player-select > td > a { 
   display: block; 
   border: 1px solid black;
   padding: 16px; 
}