.landing-main{
  position: absolute;
  left:0; right:0; top:0; bottom: 0;
  background: #000 url(/siteassets/images/landing-page-bg2.jpg) no-repeat center center fixed; ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  width: 100%;
  height: 100%;
}

.description-container {
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -55%);
}
.description-container > h3 {
  color: #fff;
  font-size: 17px;
  text-align: center;
}
.button-container {
    position: fixed;
    top: 70%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -70%);
}
.login-button-container {
  float: left;
  padding-right: 6px;
}
.signup-button-container {
  float: left;
  padding-left: 6px;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fff;
    margin: 15% auto; /* 15% from the top and centered */
    width: 30%; /* Could be more or less, depending on screen size */
    height: 60%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    text-align: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.new_user-content {
    width: 20%;
    position: fixed;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);

}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}


.new_user {
  width: 300px;
  margin: 16px auto;
  font-size: 16px;
}

/* Reset top and bottom margins from certain elements */
.new_user-header,
.new_user p {
  margin-top: 0;
  margin-bottom: 0;
}

/* The triangle form is achieved by a CSS hack */
.new_user-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #28d;
}

.new_user-header {
  background: #28d;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.new_user-container {
  background: #ebebeb;
  padding: 12px;
}

/* Every row inside .new_user-container is defined with p tags */
.new_user p {
  padding: 12px;
}

.new_user input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.new_user input[type="email"],
.new_user input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

/* Text fields' focus effect */
.new_user input[type="email"]:focus,
.new_user input[type="password"]:focus {
    border: 1px solid #6ec06e;
}

.new_user input[type="submit"] {
  background: #28d;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.new_user input[type="submit"]:hover {
  background: #17c;
}

/* Buttons' focus effect */
.new_user input[type="submit"]:focus {
  border-color: #05a;
}
.submit-link, .submit-link:visited {
    display: inline-block;
    outline: none;
    text-decoration: none;
    font-size: 24px;
    height: 23%;
    width: 100%;
    background-color: #28d;
    color: white;
    text-align: center;
    line-height: 70px;
}
.submit-link:hover {
  cursor: pointer;
  background: #17c
}
.forgot, .forgot:visited{
  display: inline-block;
  outline: none;
  text-decoration: none;
}



.modal-header {
    padding: 2px 16px;
    background-color: #fff;
    color: black;
}
.modal-header > h2 {
  text-align: left;
}
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255,255,255,1), rgba(0,0,0,1), rgba(255,255,255,1));

}
