.landing-main{
  position: absolute;
  left:0; right:0; top:0; bottom: 0;
  background: #000 url(/siteassets/images/landing-page-bg2.jpg) no-repeat center center fixed; ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  width: 100%;
  height: 100%;
}
.description-container {
    position: fixed;
    top: 60%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -60%);
}
.description-container > h3 {
  color: #fff;
}
.button-container {
    position: fixed;
    top: 70%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -70%);
}
.login-button-container {
  float: left;
  padding-right: 6px;
}
.signup-button-container {
  float: left;
  padding-left: 6px;
}


