<p id="notice"><%= notice %></p>

<h1>Watch Live Contests!</h1>

<iframe src="http://player.twitch.tv/?channel=riotgames" frameborder="0" scrolling="no" height="378" width="620"></iframe>


<% if @slates.count != 0 %>
  <h3>Your Live Entries</h3>
  <table>
    <thead>
      <tr>
        <th>Contest</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @slates.each do |slate| %>
        <tr>
          <td>
            <% contests = Contest.where(id: Lineup.where(user_id: current_user.id)).where(slate_id: slate.id).all %>
            <% count = contests.count %>
            <% if count == 1 %>
                <%= contests.first.title %>
            <% elsif count == 2 %>
                <%= "#{contests.first.title} and 1 other" %>
                <button></button>
            <% elsif count > 2 %>
                <%= "#{contests.first.title} and #{count - 1} others" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<h3>All Streams</h3>


<br>
